.Rproj.user
.Rhistory
.RData
.Ruserdata
Challenge_01_cache
Challenge_01_files
Challenge_02_cache
Challenge_05_cache
*.png
*.html
*.zip
data-puzzles-assets-master
Challenge_06_cache
Challenge07/Tempe_RCP8.5_mensuel.txt
*.txt
*.RData
*.rdb
*.rdx
*.xls
.DS_Store
Challenge_07_cache/html/__packages
